body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(hand-painted-watercolor-background.jpg);
    color:#256D85;
}

.container {
    background-color: #FFE5CA;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 800px;
    width: 100%;
}

.service-selection {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}
.cityselection
{
    flex:1;
    padding:20px;
    border-right: 1px solid #ccc;
}

.service-selection h1 {
    margin-top: 0;
}
.cityselection h1 {
    margin-top: 0;
}
.service-selection ul {
    list-style: none;
    padding: 0;
}
.cityselection ul {
    list-style: none;
    padding: 0;
}

.service-selection li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}
.cityselection li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.service-selection li:hover {
    background-color: #f4f4f4;
}
.cityselection li:hover {
    background-color: #f4f4f4;
}

.providers-list {
    flex: 2;
    padding: 20px;
}

.providers-list h2 {
    margin-top: 0;
}

